@import "compass/css3/box-shadow";
@import "base/colors";

.login-form {
  padding: 3em 0;
  position: relative;
  bottom: 0;

  input,
  textarea {
    background: #fff;
    border: 1px solid #ccc;
    @include box-shadow(none);
    padding: 10px 15px;
    width: 90%;

    &:focus {
      outline: none;
    }
  }

  .title {
    @extend h1;
  }

  textarea {
    height: 300px;
  }

  .buttons {
    background: $bg-color;
    padding: 0.3em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  button {
    background: $blue;

    &.publish {
      background: $green;
    }
  }

  .cancel-link {
    color: $red;
  }
}
