
$bg-color: #fcfcfc;
$black:    #303030;
$grey:     #9B9B9B;
$light-grey:#c9c9c9;
$green:    #89F6A9;
$red:      #FF6B77;
$blue:     #5FB9F8;
$yellow:   #FEED61;
$white:    #FFFFFF;
$link:     #d47530;
