@import "base/colors";

* {
  box-sizing: border-box;
  font-size: 20px;
}

body, html {
  background: $bg-color;
  color: $black;
  font-family: "ff-meta-serif-web-pro","Meta Serif Pro", Georgia, Times, Cambria, Serif;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.635em;
}

.container {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 900px;
  padding-right: 300px;
}

.secondary {
  border-left: 1px solid $grey;
  margin: 0 auto;
  padding: 3em 0 0 1em;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  text-align: left;
}

/*= Page elements
 *---------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", Helvetica, Verdana, Arial, Sans-Serif;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 0.6em;

  a {
    text-decoration: none;
  }
}

p {
  margin-bottom: 1.5em;
}

ul {
  margin-bottom: 1.5em;
}

ol {
  margin-bottom: 1.5em;
}

a {
  color: $black;
}
