@import "base/colors";


article {
  margin-bottom: 3em;
  padding-top: 3em;

  h1 {
    @extend .main-header;
    margin-bottom: 0.08em;
    position: relative;

    > img {
      width: 100%;
    }

    > img + a {
      position: absolute;
      bottom: 0.5em;
      color: #fff;
      left: 0.5em;
      text-shadow: 0 0 6px #000;
    }
  }

  footer {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: $grey;
    font-size: 0.9em;
    margin-bottom: 1.8em;
    padding: 0 1em;

    time {
      float: right;
    }

    a {
      color: $grey;
    }
  }

  ul {
    list-style-type: square;
    padding-left: 1.5em;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }
}
