@import "compass/css3/box-shadow";
@import "base/colors";

.tags,
.tag-form {
  margin-left: -32px;
  padding-left: 22px;
  overflow: hidden;

   > li,
   > input {
    border: 1px solid $grey;
    border-left-width: 6px;
    @include border-radius(4px);
    display: inline-block;
    float: left;
    clear: left;
    font-size: 15px;
    line-height: 24px;
    height: 28px;
    margin-bottom: 8px;
    position: relative;

    > a {
      color: $black;
      font-size: 0.9em;
      font-weight: 600;
      padding: 0px 6px;
      text-decoration: none;
    }
  }

  li:hover {
    background-color: $grey;
    cursor: pointer;

    > a {
      color: $white;
    }
  }
}

.tag-form {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  input {
    padding: 0px 6px;
  }
}


h1 > .tag {
  font-size: 1.6em;
}
