@import "compass/css3/box-shadow";
@import "base/colors";

.tags,
.tag-form {
  display: inline;

   > li,
   > input {
    display: inline;

    > a {
      color: $black;
      font-size: 0.9em;
      font-style: italic;
      padding: 0px 6px;
      text-decoration: none;
    }
  }

  li:hover {
    cursor: pointer;

    > a {
      color: $grey;
    }
  }
}

.tag-form {
  display: block;
  input {
    padding: 0px 6px;
  }
}


h1 > .tag {
  font-size: 1.6em;
}
